swagger: '2.0'
info:
  description: >
    # Introduction

    Esper Manage API is a HTTP REST API to manage your applications and devices.
    You can find out more about Esper at [https://esper.io](https://esper.io)


    You can use your favorite HTTP/REST library for your programming language to
    use Esper APIs, or you can use one of our SDKs (currently available in
    [python](https://github.com/esper-io/esper-client-py)).


    This guide documents all the instructions for using Esper API, along with
    code samples in python and Java. If you find any issues using our API,
    please reach out to us at developer@esper.io


    To get started you need a developer account with
    [developer.esper.io](https://developer.esper.io/). Please register youself
    at https://developer.esper.io/register.


    # Authentication

    Client needs to send authentication details to access APIs. Following
    authentication schemes are supported:


    #### Basic Authentication

    Client can use username and password to authenticate. These are your
    developer account credentials.

    For example, the client sends HTTP requests with the Authorization header
    that contains the word `Basic` followed by a space and a base64-encoded
    string `username`:`password`.


    ```bash

    curl -X GET \
      https://developer.esper.io/api/enterprise/<enterprise_id>/device/ \
      -H 'Authorization: Basic cl0ZWFkbWluOnNpdG1pbjEyMyQ=' \
      -H 'Content-Type: application/json' \
    ```

    You can read more about basic authentication scheme 
    [here](https://swagger.io/docs/specification/authentication/basic-authentication/)


    #### API Key

    You can generate API keys for your application from Esper dashboard and send
    them in header to authorize. For example:


    ```bash

    curl -X GET \
      https://developer.esper.io/api/enterprise/<enterprise_id>/device/ \
      -H 'API_KEY: abhbvksvdrkjsh' \
      -H 'Content-Type: application/json' \
    ```

    More details to come soon.
  version: 1.0.0
  title: Esper Manage API
  termsOfService: 'http://shoonya.io/terms/'
  x-logo:
    url: 'http://localhost:3000/esper.svg'
  contact:
    email: developer@esper.io
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: developer.esper.io
basePath: /api
tags:
  - name: Device
    description: APIs to fetch device information
    externalDocs:
      description: Find out more about device management
      url: 'https://docs.shoonyacloud.com'
  - name: Commands
    description: APIs to run device commands
    externalDocs:
      description: Find out more about device commands
      url: 'https://docs.shoonyacloud.com'
schemes:
  - https
  - http
externalDocs:
  description: Find out more about Esper
  url: 'http://shoonya.io'
x-tagGroups:
  - name: API Reference
    tags:
      - Device
      - Commands
