body {
    color: #2c3e50 !important;
}

/* Documentation Powered by ReDoc */
.jbXOXf {
    display: none ;
}

/* Headings */
h1 {
    font-size: 32px !important;
}

/* Shoonya header top bar */
.shoonya-header {
    z-index: 20;
    right: 0;
    height: 3.6rem;
    background-color: #1b2341;
    box-sizing: border-box;
    /* border-bottom: 1px solid #eaecef; */
    padding: .7rem 1.5rem;
    line-height: 2.2rem;

}

.shoonya-logo {
    height: 2.2rem;
    min-width: 2.2rem;
    margin-right: .8rem;
    vertical-align: top;
}

/* // Left sidebar */
.menu-content {
    background-color: #fcfcfc !important;
    border-right: 1px solid #eaecef;
}
.search-input {
    height: 45px !important;
    margin: 0px !important;
    width: 100% !important;
    padding-left: 40px !important;
}

.search-icon{
     top: 15px !important;
}

/* Sidebar font weights */
.sc-fzqKxP {
    color: rgb(104, 124, 140);
    font-weight: 700;
    font-size: 1em;
}
.sc-fzocqA.bIApuP {
    font-size: 14px;
}


/* Tags colors for get, post, patch */
.operation-type.get {
    background-color: rgb(206, 243, 199) !important;
    font-size: 10px;
    padding: 2px 6px;
    height: 18px;
    width: 48px;
    color: rgb(107, 189, 91);
}

.operation-type.patch {
    font-size: 10px;
    padding: 2px 6px;
    height: 18px;
    width: 48px;
    background-color: rgb(245, 220, 188) !important;
    color: rgb(224, 157, 67);
}

.operation-type.delete {
    font-size: 10px;
    padding: 2px 6px;
    height: 18px;
    width: 48px;
    background-color: rgb(245, 188, 188) !important;
    color: rgb(224, 67, 67);
}

.operation-type.post {
    font-size: 10px;
    padding: 2px 6px;
    height: 18px;
    width: 48px;
    background-color: rgb(197, 188, 245) !important;
    color: rgb(96, 67, 224);
}

.operation-type.put {
    font-size: 10px;
    padding: 2px 6px;
    height: 18px;
    width: 48px;
    background-color: rgb(188, 234, 245) !important;
    color: rgb(67, 179, 224);
}
/* class="sc-pscky gza-dof" */
/* // Right sidebar */
.sc-pscky.gza-dof {
    /* background-color: rgb(238, 238, 238) !important; */
}

/* Right sidebar box */
.eIeJha {
    /* border-radius: 15px !important;
    padding: 20px !important;
    margin-right: 15px;
    height: fit-content; */
}

/* Sidebar Response samples heading */
.czQAZT {
    color: rgb(255, 255, 255) !important;
}


/* // GET TAG */
.http-verb {
    font-weight: 700;
    border-radius: 3px;
}



/* // Center content */
.api-content .api-info > p {
    display: none !important;
}

@media print, screen and (max-width: 85rem) {
    .api-info{
        padding: 5px !important;
    }
}

/* Pre tag */
.hanQOS pre {
    max-width: 32rem;
}
pre {
    border-radius: 5px;
}