body {
    color: black !important;
}
.euquqW{
    max-height: 100px !important;
    max-width: 100px !important;
    margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shv3r-0  {
    color: black !important;
}

.kmvDqY{
    display: none ;
}

.shoonya-header {
    height: 96px;
    background-color: #624487;
}
.shoonya-logo {
    width: 180px;
    height: 44px;
    top: 25px;
    left: 45px;
    position: relative;
}

.ebXbwy {
    background-color: #fcfcfc !important;
}
.egwcPy{
    background-color: #fcfcfc !important;
}

.kkiuWB{
    height: 45px !important;
}

.search-icon{
     top: 15px !important;
}
.api-content .api-info > p {
    display: none !important;
}

.cqXmTa{
    padding-top: 25px !important;
    padding-bottom: 5px !important;
}